<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.inwave.twopage</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.398686352913-pl5dv7ve8jdr3liq52e89assnjp0nko7</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
